<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>Hello! My name is Eric Osowski.</p>
        <p>
          I enjoy meeting new people and am passionate about finding ways to
          help them. I consider myself a "forever student" who is eager to
          understand and relate to the people and world around me. I am
          dedicated to helping others and have developed a wide range of skills
          in my pursuit of that goal.
        </p>
        <p>
          My hunger for knowledge and determination to help people has led me to
          work in a variety of fields and environments and have used those
          opportunities to develop and sharpen a very unique skillset that
          allows me to connect to my work in novel ways. I never shy away from
          an opportunity to challenge myself and add to my toolbox.
        </p>
        <p>
          I believe mindfulness, community and generosity are the keys to
          success in any area of life, which are tenets I express through my
          work as well as my personal interests such as gardening and meditation.
        </p>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Highlights</h3>
        <ul>
          <li>
            Working as an Automotive Mechanic taught me problem solving skills,
            to see a wider perspective of systems at play and how they interact
            as well as the importance of taking a step back and asking questions
            to get a broad understanding of my work, how it will affect the
            desired change, and the attention to detail in following through.
          </li>
          <li>
            My time as a Shift Manager and Line Cook showed me how effective
            communication and an understanding of purpose driven teamwork can
            make any challenge into an opportunity to show up for each other and
            make our team more than the sum of its parts.
          </li>
          <li>
            Becoming a Massage Therapist highlighted my communication skills.
            This refined my abilities to be concise, concrete, courteous while
            actively listening to each clients needs. It stoked my desires for
            continued learning, as every client is unique and requires different
            levels of care and different modalities.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
