<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>My personal interests include:</p>
        <ul>
          <li>
            <b>Sailing</b>. Born and raised in Minnesota, I have always been
            around lakes and have always been astounded by the beauty of the
            water. This has led me to develop a passion for canoeing, kayaking,
            and most recently, sailing!
          </li>
          <li>
            <b>Hiking</b>. I have found that nothing helps me to shake off daily
            stress and gain perspective than getting lost in some of the
            breathtaking trails that Minnesota is home to.
          </li>
          <li>
            <b>Technology</b>. I've been enthusiasticly learning about the
            advancement of technology since I was a child taking apart and
            reassembling any computer I could get my hands on.
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top: 0">Recent Projects</h3>
        <ul>
          <li>
            Cart Croc is a point of sale (POS) application optimized for:
            Tracking consumers, managing inventory, and logging sales. This
            application was created using the MERN stack.
          </li>

          <li>
            Judge My Taste is a simple web application using ASP.net core and SQL
            that allows people to post their favorite musicians and for everyone
            to share and edit their comments.
          </li>
        </ul>
        <h3>Other Things</h3>
        <ul>
          <li>Intermediate French fluency.</li>
          <li>Graduate of The University of Minnesota's Coding Bootcamp</li>
          <li>
            See my resume by clicking on my name up top!
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
