<!-- Contact Section -->
<section id="contact">
	    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr />
      </div>
    </div>

	<div class="row">

		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a target="_blank" rel="noreferrer" class="github-link col-12" href="https://github.com/B-Audette/animal_crossing_dream_island" data-toggle="tooltip" data-placement="top" title data-original-title="Open GitHub repository">
				<p class="title padding-top-custom margin-bottom-custom">Animal Crossing Dreamy Collector</p>
			  </a>
			  <a target="_blank" rel="noreferrer" href="https://floating-earth-07738.herokuapp.com/login" data-toggle="tooltip" data-placement="top" title data-original-title="Click to go to deployed project">
				<img src="../img/AnimalCrossingLoginScreenshot.38049827.png" class="portfolio-picture" />
			  </a>
			  <br />
			  <p class="title">
				Learn about Animal Crossing Villagers and manage your Dream Island
			  </p>
			</row>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a class="github-link col-12" href="https://github.com/EricJamesOsowski/js-timed-quiz" data-toggle="tooltip" data-placement="top" title data-original-title="Open GitHub repository">
				<p class="title">Avatar Quiz </p>
			  </a>
			  <a href="https://ericjamesosowski.github.io/js-timed-quiz/" data-toggle="tooltip" data-placement="top" title data-original-title="Click to go to deployed project">
				<img src="../img/quiz-screenshot3.png" class="portfolio-picture" />
			  </a>
			  <br />
			  <p class="title">
				A 60 second JavaScript based quiz on Avatar The Last Airbender.
			  </p>
			</row>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a target="_blank" rel="noreferrer" class="github-link col-12" href="https://github.com/EricJamesOsowski/city-based-forecast-search" data-toggle="tooltip" data-placement="top" title data-original-title="Open GitHub repository!">
				<p class="title padding-top-custom">Weather Forecast</p><br />
			  </a>
			  <a target="_blank" rel="noreferrer" href="https://ericjamesosowski.github.io/city-based-forecast-search/" data-toggle="tooltip" data-placement="top" title data-original-title="Click to go to deployed project">
				<img src="../img/weather-screenshot.png" class="portfolio-picture  small-bottom-margin" />
			  </a>
			  <br />
			  	  <p class="title">
				Five day weather forecast for user searched city, with user search history.
			  </p>
			</row>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a target="_blank" rel="noreferrer" class="github-link col-12" href="https://github.com/EricJamesOsowski/PasswordGenerator" data-toggle="tooltip" data-placement="top" title data-original-title="Open GitHub repository">
				<p class="title padding-top-custom">Password Generator</p>
			  </a>
			  <a target="_blank" rel="noreferrer" href="https://ericjamesosowski.github.io/PasswordGenerator/" data-toggle="tooltip" data-placement="top" title data-original-title="Click to go to deployed project">
				<img src="../img/pass-generator.png" class="portfolio-picture" />
			  </a>
			  <br />
			  <p class="title">
				Takes user parameters and generates a unique, custom, randomized password.
			  </p>
			</row>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a target="_blank" rel="noreferrer" class="github-link col-12" href="https://github.com/coryjquirk/cart-croc" data-toggle="tooltip" data-placement="top" title data-original-title="Open GitHub repository">
				<p class="title padding-top-custom">Cart Croc</p>
			  </a>
			  <a target="_blank" rel="noreferrer" href="https://cart-croc.herokuapp.com/" data-toggle="tooltip" data-placement="top" title data-original-title="Click to go to deployed project">
				<img src="img/Cart-Croc-Screen.png" class="portfolio-picture" />
			  </a>
			  <br />
			  <p class="title">
				Big Solutions For Small Businesses
			  </p>
			</row>
		  </div>
		</div>
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-item">
			<row>
			  <a target="_blank" rel="noreferrer" class="github-link col-12" href="./assets/resume-screenshot.png">
				<p class="title padding-top-custom">My Resume</p>
			  </a>
			  <a href="/resume">
				<img src="img/resume-screenshot.png" class="portfolio-picture" />
			  </a>
			  <br />
			  <p class="title">
				Eric Osowski's Resume
			  </p>
			</row>
		  </div>
		</div>
		<row>
		  <p></p> <br></br><br></br>
		</row>
	  </div>
	  
</section>
